
<% include header%>
        <!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trang chủ</h1>
                <p>
                    <a class="btn btn-primary" href="~/Admin/USER/Create">Thêm tài khoản</a>
                </p>
                <table class="table">
                  <tbody id="data_user">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Tên đăng nhập
                        </th>
                        <th>
                            Mật khẩu
                        </th>
                        <th></th>
                    </tr>
                  </tbody>
                </table>
                        <!-- /.col-lg-12 -->
            </div>
        </div>
                <!-- /.row -->
    </div>
            <!-- /.container-fluid -->
  </div>
        <!-- /#page-wrapper -->
</div>
    <!-- /#wrapper -->
<% include footer%>
