<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Chèn jquery -->
  <script src="jquery-3.3.1.min.js"></script>
  <!-- Kết nối socket.io -->
  <script src="socket.io/socket.io.js"></script>
  <!-- Tiêu đề -->
  <title>Welcome</title>
  <!-- Xử lý Dynamic drop list -->
  <script>
    function getSelect1(){
      var temp = "";
      var Sel1 = document.getElementById("list1").value;
      console.log(Sel1);
      if(Sel1 == ""){
        document.getElementById('list2').style.visibility = 'hidden';
        document.getElementById('list3').style.visibility = 'hidden';
      }else if(Sel1 != null) {
        //Xử lý khi chọn select
        const socket = io("http://localhost:3000/");
        socket.emit("trangchu_sendData_QH",Sel1);
        socket.on("server_sendData_QH", function(data){
          $('#quanhuyen').html("<option value='"+temp+"'>-- Chọn Quận/Huyện --</option>");
          for(var i = 0; i < data.length; i++){
            console.log(data[i].TEN_QUAN_HUYEN);
            $('#quanhuyen').append("<option value='"+data[i].id+"'>"+data[i].TEN_QUAN_HUYEN+"</option>");
          }
        });
        document.getElementById('list2').style.visibility = 'visible';
      }else {
        document.getElementById('list2').style.visibility = 'hidden';
        document.getElementById('list3').style.visibility = 'hidden';
      }
      return false;
    }
  </script>
  <script>
  function getSelect2(){
    var Sel1 = document.getElementById("quanhuyen").value;
    console.log(Sel1);
    if(Sel1 == ""){
      document.getElementById('list3').style.visibility = 'hidden';
    }else if(Sel1 != null) {
      //Xử lý khi chọn select
      const socket = io("https://nttweb.herokuapp.com/");
      socket.emit("trangchu_sendData_PX",Sel1);
      socket.on("server_sendData_PX", function(data){
        $('#phuongxa').html("<option>-- Chọn Phường/Xã --</option>");
        for(var i = 0; i < data.length; i++){
          console.log(data[i].TEN_PHUONG_XA);
          $('#phuongxa').append("<option value='"+data[i].id+"'>"+data[i].TEN_PHUONG_XA+"</option>");
        }
      });
      document.getElementById('list3').style.visibility = 'visible';
    }else {
      document.getElementById('list3').style.visibility = 'hidden';
    }
    return false;
  }
</script>
</head>
<!-- Close head -->
<body>
  <h1 id="home">Trang chủ</h1>
  <h3 id="ddt"></h3>
  <div>
    <label for="tinhthanh">Tỉnh thành </label>
    <select class="" name="tinhthanh" id="list1" onchange="getSelect1();">
      <option value="">-- Chọn Tỉnh thành --</option>
      <% data1.forEach(function(ds){ %>
          <option value='<%= ds.id%>'><%= ds.TEN_TINH%></option>
      <%})%>
    </select>
  </div>

  <div id="list2" style="visibility: hidden;" onchange="getSelect2();">
    <label for="quanhuyen">Quận/Huyện </label>
    <select class="" name="" id="quanhuyen">
      <option value="">-- Chọn Quận/Huyện --</option>
    </select>
  </div>
  <div id="list3" style="visibility: hidden;">
    <label for="phuongxa">Quận/Huyện </label>
    <select class="" name="" id="phuongxa">
      <option value="">-- Chọn Phường/Xã --</option>
    </select>
  </div>

</body>
</html>
