<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="jquery-3.3.1.min.js"></script>
    <!-- Kết nối socket.io -->
    <script src="https://nttweb.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      const socket = io("http://localhost:3000/");
      socket.on("server_sendData_info", function(data){
        if(data == 1){
          alert("Tài khoản không tồn tại!")
        }
        if(data == -1){
          alert("Mật khẩu không chính xác!")
        }
      })
    </script>

</head>

<body style="  background-image: url('../../image/bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="margin-top: 50%;
    box-shadow: 0px 0px 3px 0px;
    -moz-box-shadow: 0px 0px 3px 0px;
    -webkit-box-shadow: 0px 0px 3px 0px;
    -o-box-shadow: 0px 0px 3px 0px;
    -ms-box-shadow: 0px 0px 3px 0px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">QUẢN TRỊ HỆ THỐNG</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return checkPw(this);">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Tên Đăng nhập" name="username" type="text" autofocus autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Mật khẩu" name="password" type="password" value="" autocomplete="off">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <p><a href="#" >Quên mật khẩu?</a></p>
                                <input type="submit" name="btnlogin" class="btn btn-success btn-block" value="Đăng nhập">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

    <script type="text/javascript">
      function checkPw(form) {
      user = form.username.value;
      pw1 = form.password.value;

      if(user==""){
        alert ("\nTên đăng nhập không được để trống!");
        return false;
      }
      else if (pw1 == "") {
        alert ("\nMật khẩu không được để trống!");
        return false;
      } else {
        return true;
      }
    }
    </script>
</body>

</html>
